.btn {
    width: 80px;
    height: 30px;
    border: 3px solid;
    border-radius: 12px;
    background-color: #333333;
    color: white;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}

#currentTime {
    font-size: 75px;
    color: #40c437;
    font-family: 'Courier New', Courier, monospace;
}

#timerContainer {
    text-align: center;
    border-radius: 12px;
    border: 3px solid;
    background-color: #222222;

}